<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
  <h3>Comments:</h3>
  <%= render :partial => @post.comments.reverse %>
  <%= form_for([@post, Comment.new], remote: true) do |f| %>
    <p><%= f.label :body, "New comment: " %><br>
    <%= f.text_area :body %></p><br>
    <%= f.submit "Add comment" %>
  <% end %>
    
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
